* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    text-align: center;
}

header {
    background: #2c3e50;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, #3498db, #2980b9);
    color: white;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    margin: 10px 0;
    font-size: 18px;
}

button {
    padding: 12px 25px;
    background: white;
    color: #007BFF;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #007BFF;
    color: white;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
}

.box {
    background: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
    width: 250px;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.05);
}

footer {
    background: #2c3e50;
    color: white;
    padding: 15px;
}